
*{padding: 0;
margin: 0;
box-sizing: border-box;}
body{
    width: 100%;
height: 100%;
}
p{
    font-family: 'Satisfy', cursive;
    font-size: 2rem; 
    text-align: left;  
    }
    
h1{ font-family: 'Ephesis', cursive;
    font-size: 6rem;
    text-align: center;
    font-weight: 900;
    color: white;
    text-align: center;
    }
h2{
    color: chocolate;
    text-align: center;
    font-style: oblique;
    }


h3{
    color: black;
    font-size: 3rem;
    text-align: center}

    
header{
    background-color: black;
    position: static;
}
main{
    padding-top: 20px;
    background-color: #85FFBD;
   }

a:visited{
    color: white;
}
.btn btn-primary{
    background-color: black;}

.grilla-fotos img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    box-shadow: 10px -23px 34px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px -23px 34px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px -23px 34px 0px rgba(0,0,0,0.75);
    text-align: justify;
}

.grilla-fotos img:hover{
    transform: scale(1.3, 1.3);
}


.grilla-fotos{
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:"imagen1  imagen2 imagen3 imagen4";
    gap: 10px;
}
.galeria-imagen1{
    grid-area:imagen1;
}
.galeria-imagen2{
    grid-area: imagen2;
}
.galeria-imagen3{
    grid-area: imagen3;
}
   .galeria-imagen4{
    grid-area: imagen4;
   }
.texto-recepcion{
    color: teal;
    margin-top: 60px;
    text-align: end;
}


.seccion-portada{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-color: white;
margin: 40px 40px 40px 30px;
box-shadow: 18px -14px 27px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 18px -14px 27px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 18px -14px 27px 0px rgba(0,0,0,0.75);
border-radius: 6px;
}
.seccion-portada p{
    font-size: 3rem;
    text-align: center;
}

.carousel-inner img{
    width: 100px;
    height: 500px;
   object-fit: contain;
}

@media (min-width:480px) and ( max-width:768){
    .galeria-grilla{
        grid-template-columns: repeat(1,2fr);
        grid-template-rows: repeat(4, 40vw);
        background-color: white;
    }
}
@media (min-width:100px) and ( max-width:300){
    .galeria-grilla{
        grid-template-columns: repeat(1,2fr);
        grid-template-rows: repeat(4, 40vw);
        background-color: black;
    }
}
.publicidad{
    margin-top: 20px;
    background-color: white;
    animation-name: publicidadenmovimiento;
    animation-duration: 5s;
    animation-iteration-count: 10;
}
.publicidad p{
    color: white;}

.card-group p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #33383c;
    font-size: 1rem;
}
@keyframes publicidadenmovimiento{
    0%{
        background-color:white;
        color: black;
        left: 300px;
    top: 200px;}

30%{
    background-color: violet;
    left: 300px;
    top: 200px;
}
60%{
    background-color: #4158D0;
    color: white;
    left: 300px;
    top: 200%;
}
90%{
    background-color: black;
    left: 300px;
    right: 200px;
}
} 
.bg-footer {
    background-color: black;
    padding: 50px 0 30px;
}
.footer-heading {
    letter-spacing: 2px;
}

.footer-link a {
    color:white;
    line-height: 40px;
    font-size: 14px;
    transition: all 0.5s;
}



.contact-info {
    color:white;
    font-size: 14px;
}

.footer-social-icon {
    font-size: 15px;
    height: 34px;
    width: 34px;
    line-height: 34px;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
}

.facebook {
    background-color: #4e71a8;
    color: #ffffff;
}


.instagram{
    background-color: red;
}


.footer-alt {
    color: white;
}

.footer-heading {
    position: relative;
    padding-bottom: 12px;
}







